
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/nbproject/private/
###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
### netbeans project ###
/nbproject/

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
